@import url("https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@700&display=swap");

@import "tailwindcss";

/* Custom Tailwind theme. Ignore the warning. Intellisense isn't being intelligent right now. lol */
@theme {
    --font-heading: "Raleway", sans-serif;
    --font-body: "Lato", sans-serif;

    --color-forest: #41695C;
    --color-warmstone: #C7BFB3;
    --color-wheat: #E6DCC6;
    --color-steelblue: #7491C2;
    --color-graphite: #2c2c2c;
}

@layer base {
    html {
        @apply font-body text-graphite;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-heading text-forest;
    }
    h1 {
        @apply text-4xl mb-1;
    }
    h2 {
        @apply text-3xl mb-1;
    }
    h3 {
        @apply text-2xl mb-0.5;
    }
    h4 {
        @apply text-xl mb-0.5;
    }
    h5 {
        @apply text-lg mb-0.5;
    }
    h6 {
        @apply text-base;
    }
}