@import url("https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@700&display=swap");

@import "tailwindcss";

/* Custom Tailwind theme. Ignore the warning. Intellisense isn't being intelligent right now. lol */
@theme {
    --font-heading: "Raleway", sans-serif;
    --font-body: "Lato", sans-serif;
    --text-base: "1.1rem";

    --color-forest: #41695C;
    --color-warmstone: #C7BFB3;
    --color-wheat: #E6DCC6;
    --color-steelblue: #7491C2;
    --color-graphite: #2c2c2c;
}

@layer base {
    html {
        @apply font-body text-graphite text-base;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-heading text-forest mt-4;
    }
    h1 {
        @apply text-4xl mb-2;
    }
    h2 {
        @apply text-3xl mb-1.5;
    }
    h3 {
        @apply text-2xl mb-1;
    }
    h4 {
        @apply text-xl mb-0.5;
    }
    h5 {
        @apply text-lg mb-0.5;
    }
    h6 {
        @apply text-lg;
    }
    p, label {
        @apply ml-1 md:ml-2;
    }
    a {
        @apply text-steelblue hover:text-wheat visited:text-forest underline underline-offset-2;
    }
    header a {
        @apply text-white hover:text-white visited:text-white no-underline;
    }
    fieldset {
        @apply border-t border-graphite pt-4;
    }
}

@layer components {
    .service-card {
        @apply bg-wheat text-lg rounded-lg shadow-md flex justify-center items-center text-center box-border w-full h-12 md:w-1/3 md:h-24;
    }

    .portfolio-card {
        @apply border border-graphite rounded text-graphite hover:text-graphite visited:text-graphite hover:scale-105 transition-transform duration-300 ease-in-out;
    }
}