---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="flex flex-col md:flex-row md:justify-around">
		<div class="flex justify-center min-w-48">
			<img class="border" src="/images/theRADfarmer.jpg" alt="me">
		</div>
		<div class="flex-grow mt-8 md:mt-0 md:my-auto">
			<h1>{pageTitle}</h1>
			<p>
				Howdy! My name is <strong>Robert DeBold</strong>. I'm a freelance web developer with a passion for creating beautiful, functional websites. I specialize in building responsive, user-friendly sites that help businesses grow their online presence.
			</p>
		</div>
	</div>
	<div class="mt-16">
		<h2>Rooted in local. Built for modern.</h2>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque delectus dolores, repellat ducimus quo temporibus numquam dolor enim velit, architecto aliquid ullam animi pariatur provident, consequatur expedita neque! Neque, consectetur.
		</p>
	</div>
</BaseLayout>