---
import BaseLayout from '../layouts/BaseLayout.astro';
import ButtonPrimary from '../components/ButtonPrimary.astro';

const pageTitle = "Contact Us";
---

<BaseLayout pageTitle={pageTitle}>
    <h1 class="text-2xl font-bold mb-4">Contact Us</h1>
    <p class="mb-6">We'd love to hear from you! Whether you have questions about our services, need support, or just want to say hello, feel free to reach out.</p>
    <form name="contact" method="POST" data-netlify="true" data-netlify-recaptcha="true">
        <input type="hidden" name="form-name" value="contact">
        <label for="name">
            Name:
            <input type="text" name="name" id="name" required class="border border-graphite p-2 w-full mb-4" />
        </label>
        <label for="email">
            Email:
            <input type="email" name="email" id="email" required class="border border-graphite p-2 w-full mb-4" />
        </label>
        <label for="message">
            Message:
            <textarea name="message" id="message" required class="border border-graphite p-2 w-full mb-4"></textarea>
        </label>
        <div data-netlify-recaptcha="true"></div>
        <ButtonPrimary content="Send Message" />
    </form>
</BaseLayout>