---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Customize Your Site";
---
<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <div>
        <p>This feature is currently not available at the moment. You can check out our <a href="/contact">contact</a> page to get in touch if you would like me to work with you.</p>
    </div>
</BaseLayout>