---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Plant Your Presence. Grow Your Business.";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<p>
		Coming soon!
	</p>
</BaseLayout>
