---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Portfolio";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<p>
		Coming soon!
	</p>
	<p>
		We are currently working on some projects to add to our portfolio. 
		If you would like to be one of the first to be featured on this page, check out our <a href="/services">services here</a> and start <a href="/customize">customizing your site here.</a>
	</p>
</BaseLayout>