---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Portfolio";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<p>
		Coming soon!
	</p>
	<p>
		Right now, I don't have any portfolio items to show off, but I am working on some projects that will be available soon.
		Please check back later to see my work.
	</p>
</BaseLayout>