---
const { content } = Astro.props;
---

<button class="py-2 w-72 m-1 bg-white rounded border box-border border-steelblue text-steelblue hover:cursor-pointer hover:bg-steelblue hover:text-white hover:scale-105 transition-transform duration-300 ease-in-out">
    {content}
</button>