<header class="h-24 content-center text-xl text-white bg-forest shadow-sm shadow-graphite">
    <div class="flex justify-between py-4 px-2">
        <div class="font-heading"><a href="/">plantyour.site</a></div>
        <ul class="flex space-x-4">
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </div>
</header>