<header class="content-center text-xl text-white bg-forest border-b border-graphite">
    <nav x-data="{ open: false }">
        <div class="flex flex-col md:flex-row md:justify-between max-w-screen-xl mx-auto py-6 px-4 sm:px-8 md:px-12">
            <div class="flex">
                <a class="font-heading" href="/">plantyour.site</a>
                <div class="grow"></div>
                <button class="hover:cursor-pointer md:hidden" @click="open = !open" aria-label="Toggle Menu">
                    <div class="space-y-2 " :class="{'hidden': open, 'block': !open}">
                        <div class="h-0.5 w-10 bg-white"></div>
                        <div class="h-0.5 w-10 bg-white"></div>
                        <div class="h-0.5 w-10 bg-white"></div>
                    </div>
                    <div :class="{'hidden': !open, 'block':open}">
                        <div class="h-0.5 w-10 bg-white rotate-45 transform translate-y-1"></div>
                        <div class="h-0.5 w-10 bg-white -rotate-45 transform translate-y-0.5"></div>
                    </div>
                </button>
            </div>
            <ul :class="{'hidden': !open, 'block': open}"  class="hidden text-center space-y-1 pt-2 mt-6 border-t border-graphite md:flex md:space-x-4 md:space-y-0 md:pt-0 md:mt-0 md:border-none">
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/customize">Customize</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </div>
    </nav>
</header>